<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.auth.mapper.UserMapper" >
  <select id="getUserByUsername" parameterType="string" resultType="cn.itcast.auth.vo.UserJwt">
    SELECT * FROM xc_user WHERE username=#{username}
  </select>

  <select id="getUserByMobile" parameterType="string" resultType="cn.itcast.auth.vo.UserJwt">
    SELECT * FROM xc_user WHERE phone=#{mobile}
  </select>
</mapper>